.after{
    color: aqua ;
}

    

.after > li {
    list-style: none;}

    .after > li::after  {
        content: " @ ";
    }
    .after > li::before{
        content: " m&m ";
    }
    .links > li > a::link {
        color: darkorchid;
    }
    .links > li > a::visited {
        color: limegreen;
     }     
   .links > li > a::active {
        color: magenta;
    }
    h1:hover{
        color: peru;
        font-size: 150%;
        
    }
    span:empty {
        background-color: red;
        width: 10px;
        height: 10px;
        display: inline-block;
    }
.child > li:first-child{
    color: rgb(205, 228, 0);
    font-size: 20px;
}

/* .child > li:last-child{
    color: rgb(255, 0, 179);
    font-size: 20px; */



    .child > li:nth-child(even){
        color: rgb(0, 255, 64);
        font-size: 20px;}
        .child > li:nth-child(odd){
            color: rgb(255, 0, 98);
            font-size: 20px;}
      