*{
    margin: 4px;
}
.card{
    border: 1px solid rgb(22, 1, 80);
    border-radius: 20px;
    padding: 12px;
    width: 370px;
    font-size: 20px;
    text-align: center;
    color: rgb(183, 0, 255);
    
}
img{
    width: 370px;
}