

.wrapper{
    display: flex;
    justify-content: start;
    height: 100px;
    align-items: stretch;
    background-color: grey;
}
.red{
    width: 50px;
    height: 30px;
    background-color: red;
    align-self: flex-start;
}
.blue{
    width: 50px;
    height: 40px;
    background-color: blue;
    align-self:  flex-end   ;
}
.pink{
    width: 50px;
    height: 60px;
    background-color: pink;
    align-self: center ;
     margin: 10px  5px 20px 15px;
    padding: px;
}
.green{
    width: 50px;
    height: 50px;
    background-color: green;
}

