@import './colors.scss';
@import './footer.scss';
@import './header.scss';


body {
    margin: 0;
    padding: 0;

    .wrapper {
        display: grid;
        grid-template-rows: 10vh 80vh 10vh;

        .content {
            
            nav {
                padding: 10px;
                
                ul {
                    display: flex;
                    list-style: none;
                    li {
                        cursor: pointer;
                        margin: 10px 10px;
                    }
                }
            }

            section {
                height: 97%;
                overflow-y: auto;
                padding: 10px;
            }
        }


    }
}

.pic {
    width: 444px;
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    // margin: 79px;
    
}

.card {
    width: 450px;
    height: 500px;
    border: solid 2PX rgb(0, 0, 0);
    margin: 30px;
    text-align: center;
    
}



footer{
    background-color: aliceblue;
}


p{
    font-size: 18px;
}