<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page3</title>
</head>
<body>
    <div class="wrapper">
        <header>
          <h1 >
            TOPSHMOT
        </h1>
        <span>одежда для всех</span>
        </header>
        <div class="content">
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" id="main" >Активная</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="page1">Ссылка</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="page2">Ссылка</a>
                    </li>
                   
                  </ul>
            </nav>
            <section>
                <p>main</p>
            </section>
            <aside></aside>
        </div>

        <footer></footer>
    </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>