.wrapper{
    display: flex;
    width: 100%;
}   
nav{
    border: 1px solid black;
    width: 20%;
    margin: 0px 10px 0px 0px;
}
a{
    text-decoration: none; 
    color: black;
}
.personal{
    width: 40%;

}
.info{
    width: 40%;
}
.img{
    border-radius: 50%;
}
.chiksa{
    border: 1px solid black;
    margin: 0px 5px 5px 0px ;
}
.imgg{
    border-radius: 50%;
    border: 1px solid black;
}
.div{
    display: flex;
    justify-content:space-between ;
    border: 1px solid black;
}
.divv{
    border: 1px solid black;
}