#carouselExampleControls{
    display: flex;
    align-items: center;
 
}


header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: azure;
}

// .card {
//     width: 200px;
//     height: 300px;
//     border: solid brown;
//     margin: 10px;
    
// }

// .pic {
//     // width: 300px;
//     // height: 420px;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-color: aqua;
//     // margin: 79px;
    
// }

#jacket {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.info {
    display: flex;
    justify-content: space-evenly;
}