<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>page1</title>
</head>
<body>
    <div class="wrapper">
        <header>
          <h1 >
            TOPSHMOT
        </h1>
        <span>одежда для всех</span>
        </header>
        <div class="content">
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link " id="main" >Ссылка</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" id="page1">Активная</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="page2">Ссылка</a>
                    </li>
                   
                  </ul>
            </nav>
            <section>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/src/assets/191cd749fb562e5a3d9b2b4f2efa8947.png" class="d-block w-100" alt="123">
                      </div>
                      <div class="carousel-item">
                        <img src="/src/assets/arcteryx.jpg" class="d-block w-100" alt="123">
                      </div>
                      <div class="carousel-item">
                        <img src="/src/assets/m_62026ac0bcdb2fd0cd3eb46a.jpg" class="d-block w-100" alt="123">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Предыдущий</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Следующий</span>
                    </a>
                  </div>





            </section>
            <aside></aside>
        </div>

        <footer></footer>
    </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>