header{
    text-align: center ;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(181,94,123,1) 61%, rgba(192,87,118,1) 69%, rgba(203,80,112,1) 77%, rgba(223,66,102,1) 96%, rgba(253,45,87,1) 99%);

}

.nav-link{
    color : black;
}
.div{
    text-align: center;

}
.img{
    height: 300px;
    width: 300px;
    align-content: space-around;
}
.productss{
    display: flex;
    justify-content: space-between;
}
.reklama{
    /* display: flex; */
    /* text-align: center; */
    
}

.items {
    border: inset 4px rgb(255, 4, 4) ;

}
.vidio{
    display: flex;
    justify-content: space-between;
}
.zagolovak{
    text-align: center;
}
.otzv{
 
  
}   
.container{
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 3px;
    padding: 0px;
    margin: 100px 0;
}
.klient{
    border-radius:  90%;
    width: 100px;
    height: 100px;
}
.products{
    margin: 20px 0px 30px 0px;
/*    
    text-align: start;
    display: flex;
    flex-direction: column;
     */
}

.rating-result {
	width: 265px;
}
.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.link{
    color: black;
}
.fotki{
    border: 1px solid black;
}
.character{
    display: flex;

}
.price {
    margin: 0px 0px 0px 400px;
    
    
}
.info{
    margin: 0px 0px 0px 40px;
}
.price > div{
    border:1px solid black;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
a :hover{
    color: rgb(0, 0, 0);
    
}
a :active{
    color: rgb(0, 0, 0);
}
a{
    color: black;
}


    
.ava {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.morgen {
    background-image: url('./morhen.jpg');
}

.opasn{
    background-image: url('./opsnu.jpg');
}
.old{
    background-image: url('./old.jpg');
}

input{
    width: 500px;
    height: 50px;
}
.information{
    display: flex;
    justify-content: space-between;
}
.poleznayinfa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.ceti{
    width: 50px;
    height: 50px;
}
.sotceti{
    
    display: flex;
    justify-content: left;
}