li{
    list-style:none ;
}
li > a {
    color: blue;
}
body{ 
    color: darkorange;
    background-color: black;
}
img{
  height: 50px; width: 50px;
}
.s{
    list-style: square;
}
.ig{
    height: 1000px; width: 1000px;
}